.nav a.nav-link:hover {
   color: #a71111;
}
.header div.col-auto a:hover {
   text-decoration: none;
}
.header {
    margin-top: 50px;
}
.header ul.nav {
    border-bottom: 2px solid black;
    max-width: 350px;
    width: 100%;
    justify-content: center;
    border-top: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.header ul li:first-child {
    border-right: 1px solid black;
    text-align: right;
}
.header ul li.nav-item {
    width: 50%;
    margin: 10px 0;
}
.header ul li a.nav-link {
    padding: 0 1rem;
}
.content h1 {
    font-size: 33px;
}
figure.figure {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}