.nav a.nav-link:hover {
   color: #a71111;
}
.header div.col-auto a:hover {
   text-decoration: none;
}
.header {
    margin-top: 50px;
}
.header ul.nav {
   height: 2.5rem;
    border-bottom: 2px solid black;
    width: 400px;
    justify-content: center;
    border-top: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.header ul li.nav-link {
    padding: 0.5rem 1rem;
}
.content h1 {
    font-size: 33px;
}