.nav a.nav-link:hover {
   color: #a71111;
}
.header div.col-auto a:hover {
   text-decoration: none;
}
.header {
    margin-top: 50px;
}
.header ul.nav {
    border-bottom: 2px solid black;
    max-width: 400px;
    justify-content: center;
    border-top: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.header ul:first-child {
    border-right: 1px solid black;
}
.header ul li.nav-item {
    margin: 10px 0;
}
.header ul li a.nav-link {
    padding: 0 1rem;
}
.content h1 {
    font-size: 33px;
}